# Document Classification with Naive Bayes - Lab

## Introduction

In this lecture, you'll practice implementing the Naive Bayes algorithm on your own.

## Objectives

You will be able to:  

* Implement document classification using Naive Bayes
* Understand the need for the Laplacian smoothing correction
* Explain how to code a bag of words representation

## Import the Dataset

To start, import the dataset stored in the text file `SMSSpamCollection`.

In [27]:
#Your code here
import pandas as pd
df=pd.read_csv('SMSSpamCollection',sep='\t',names=['label','text'])
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Account for Class Imbalance

To help your algorithm perform more accurately, subset the dataset so that the two classes are of equal size. To do this, keep all of the instances of the minority class (spam) and subset examples of the majority class (ham) to an equal number of examples.

In [28]:
#Your code here
import numpy as np
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [29]:
ham_df=df.loc[df.label=='ham']
ham_indices=np.random.choice(ham_df.index,747)
ham_indices

array([1358, 4380,  683, 5033, 2636,  203, 2142, 3569,  587, 3353, 3416,
       1517,  883, 4201, 2134, 5411, 3691,  617, 3373, 5166, 2819, 1610,
       3323, 4605, 2388,   29,   76, 5291, 3960, 2793,  873, 3404, 4095,
       3292, 4740,   38, 3137,  959, 4511, 4637,  746,  925, 5094, 3769,
       5313, 1403, 3158, 4477, 1186,  392, 3612, 2971, 1273, 4343,  776,
       4158, 1922, 1185, 3580, 1871, 3020,   69,  152, 3843, 5128, 3019,
       5208, 4892, 4358,  391, 5025, 5276,  895, 1955, 3505, 3350, 3162,
       4472, 3809, 3566, 2673, 3693, 5273, 2239, 4843, 2410, 1817,  631,
        269, 4884, 3946, 1883,  519, 1919,  679, 3541, 1465,  933, 3787,
       4529, 4528, 5203,   90, 2643, 1863, 1543, 4363, 4045, 3263, 3140,
        989, 4419, 2913,  997, 3928, 1676, 4049, 3943, 1109, 5367, 1497,
       4560, 1561,  708, 5480, 4509, 1323, 2762, 3482, 2842, 3657, 3749,
       2051, 4421, 2861, 1600, 4757, 2412, 3859, 4523, 1696, 5134, 2520,
        691, 2338, 1844, 1195,   22, 4689, 2303,  634, 1616, 1206, 5541,
        595, 1703, 2131,  461, 2960, 2517, 5051, 3588, 3697, 2532, 2657,
       1185,   46, 4286, 4142, 2868, 2384, 2321, 3616, 3607, 2936, 3234,
       1813, 4594, 1622,   69, 1320, 2008,  192, 4787, 4161, 1499, 2068,
       1067, 1010,  253,  317,  201, 1716, 4970, 1912, 3550,  625,  332,
        721, 2082, 1184, 1088, 1786, 2675, 1495, 4273, 5187, 2144, 3221,
       5531, 1155, 4238, 3340, 4770, 5045, 2506, 4593, 1832,   82, 1776,
       2494, 3416, 2732, 3254, 4234, 5156, 3701,   87,  846, 3843, 3458,
       4017,  351, 5475, 4006, 4327, 2890, 4478, 2816,  940, 5388, 5347,
       4778, 1418, 3404, 2550, 2607, 2197, 2110, 3279, 1317, 2453, 2974,
        393, 1842, 3448, 2091, 4353, 5000, 3199, 1141, 3341, 3147, 4791,
       3129, 5309, 2399, 1416, 4625, 2323, 5265, 1681, 5158, 1556, 4008,
       5261,  978, 4832, 1270,  558, 3175, 4784, 5360, 3452, 1124,   52,
        202,  828, 2002, 5470, 3484, 4310, 3691,  554, 3119, 5211, 3850,
       1794, 5056,  978, 1450, 1862, 4703,  468,   35, 4322, 4328, 4393,
       3399, 4764,  666,  577, 3331, 1055, 2684, 3017, 4859, 4612,  215,
       4187, 1261, 1403,   70, 3822, 3239, 3117, 1487, 3216, 4867, 5419,
         17, 1890, 4679, 5289, 2090, 4660, 3643, 4312, 3511, 5450, 2453,
       4301, 5069, 4556, 4141, 2228, 3279, 2989,  251, 2600,  255, 5320,
        446,  577,  778, 3519, 3511, 4039,  327, 2036, 2446, 3201, 1843,
       1727, 3673, 2764, 2474, 2101, 5089, 1484, 3648,  540, 4886, 1054,
        969, 5486, 3858, 3047, 3226, 4624,  138, 2544, 2325, 3702, 5383,
       1479,  740, 4317, 1771, 3570, 4207, 4599, 5414, 1226, 1722, 2106,
       4119, 4043, 1593,  783, 3550,  288,  199, 3352, 4564, 2323, 4239,
        153, 5371, 5383,  949, 2454,  644, 3546, 2909, 5463, 1612, 4326,
       3106, 2701, 2414, 3630, 4590, 4463, 3502, 2733, 1130, 4218, 3779,
       2892, 4044, 3058, 2539,  769, 3154, 3194, 4925, 5129, 4232, 2513,
       3880, 4758,  409,  130, 2570, 1028, 5402, 2726, 2537,  325,  201,
       2171, 3375,  295,  544,  193, 4288, 3435, 3467, 2177, 3248, 3651,
        617, 1833, 1994,  712, 1578, 3396, 4980, 4553, 1526, 3616,  320,
       3648, 4397, 1135, 1379, 1470,  325, 4498, 3163, 1156, 4123, 3000,
       1935, 1066, 1100,  793, 2337, 4209, 2369, 2506, 5038, 5337, 5054,
       4680,  979, 2136, 4380, 5379, 4365,  271, 4143, 2838, 1486, 1139,
       2395, 1923, 1429, 4361, 5000, 1802, 3812, 3453, 4518, 1115, 1534,
        695, 4787, 4890, 3457, 4878, 5392, 1057,  295, 4516, 3873, 2087,
       5405, 4482, 4159,  606, 1664,  773, 1600, 3281, 3364, 4480, 4034,
        472, 5470, 4350, 3489, 2185,  229, 3761,  287, 3912,  906, 2907,
       5163, 3950, 2944,  394, 3038, 3165, 3868, 3558, 3686, 1482, 4002,
       3584, 4353, 1298,  348, 3536, 3670, 2513, 2981,  337, 4659, 4624,
       1543, 1652,  864, 1847,  772, 4678, 1677, 5297, 4484, 4988, 2644,
       3107, 5330, 3257, 4363, 3346, 3592, 2096, 2630, 3240, 2697, 1755,
       5203, 3116, 4351, 1369,  498, 2021,  426, 3158, 3691, 5065, 1601,
       1931,  148, 1182,  108, 1340, 1081, 3287, 1416,  915,   25, 4633,
       5045,   71,  631, 1758, 3162,  985, 1909, 2377, 5558, 3221, 1198,
        391, 1795, 5165, 3576,  971, 1879, 4861, 1321,  107,  322, 2613,
       1991, 2676,  258, 3927, 1485, 1719, 2088, 3160, 2260, 4554, 4216,
       3281, 2930, 4182,  896, 1034, 4813, 4980, 2523, 5484, 4267, 4644,
       4614, 4317, 3452, 3359, 2856, 1784, 3148, 3121,  847, 3751, 1936,
         13,   91, 2946, 2228,  132, 3947, 4266, 2114, 1253, 4947, 3367,
       2009,  558, 3323, 3205, 2459, 2550, 2724, 4644,  722,  795, 4098,
       3696, 4617, 5191, 2718, 1043,  511, 2009,  873, 4727, 3387, 3086,
       3818,  141, 1299, 5081,  107, 2534, 1641, 4259, 2904, 1643, 5139,
       1612, 2154, 1272,  662, 5038, 4990, 4146, 1941,  432, 3072, 4995,
       3765, 2164, 4435, 1974, 4507, 4240, 4087,  443, 1883,  847,  762,
       5010, 5355,  776, 1553, 1345,  739,   69, 5430, 4779, 4529],
      dtype=int64)

In [30]:
spam_subset=df.loc[df.label=='spam']
ham_subset=df.iloc[ham_indices]
len(ham_subset)

747

In [31]:
new_df=ham_subset.append(spam_subset)
new_df.head()

     label                                               text
1358   ham  Good afternoon loverboy ! How goes you day ? A...
4380   ham               How are you. Just checking up on you
683    ham                             Is xy going 4 e lunch?
5033   ham        Ok i vl..do u know i got adsense approved..
2636   ham       Tiwary to rcb.battle between bang and kochi.

In [32]:
new_df.label.value_counts()

ham     747
spam    747
Name: label, dtype: int64

## Train - Test Split

Now implement a train test split on your dataset.

In [33]:
from sklearn.model_selection import train_test_split
x=new_df.drop('label',axis=1)
y=new_df.label
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

## Create the Word Frequency Dictionary for Each Class

Create a word frequency dictionary for each class.

In [40]:
train_df=x_train.join(y_train)
test_df=x_test.join(y_test)

class_word_freq = {}
classes = train_df.label.unique()
for class_ in classes:
    temp_df = train_df[train_df.label==class_]
    bag = {}
    for row in temp_df.index:
        doc = str(temp_df['text'][row])
        for word in doc.split():
            bag[word] = bag.get(word, 0) + 1
    class_word_freq[class_] = bag

## Count the Total Corpus Words
Calculate V, the total number of words in the corpus.

In [55]:
#Your code here
all_the_words=set(list(class_word_freq['spam'].keys())+list(class_word_freq['ham'].keys()))
V=len(all_the_words)
V

6206

## Create a Bag of Words Function

Before implementing the entire Naive Bayes algorithm, create a helper function `bag_it()` to create a bag of words representation from a document's text.

In [57]:
#Your code here
def bag_it(doc):
    bag = {}
    for word in doc.split():
        bag[word] = bag.get(word, 0) + 1
    return bag

## Implementing Naive Bayes

Now, implement a master function to build a naive Bayes classifier. Be sure to use the logarithmic probabilities to avoid underflow.

In [58]:
#Your code here
def classify_doc(doc, class_word_freq, p_classes, V, return_posteriors=False):
    bag = bag_it(doc)
    classes = []
    posteriors = []
    for class_ in class_word_freq.keys():
        p = p_classes[class_]
        for word in bag.keys():
            num = bag[word]+1
            denom = class_word_freq[class_].get(word, 0) + V
            p += np.log(num/denom)
        classes.append(class_)
        posteriors.append(p)
    if return_posteriors:
        print(posteriors)
    return classes[np.argmax(posteriors)]

## Test Out Your Classifier

Finally, test out your classifier and measure its accuracy. Don't be perturbed if your results are sub-par; industry use cases would require substantial additional preprocessing before implementing the algorithm in practice.

In [61]:
#Your Code here
p_classes = dict(train_df.label.value_counts(normalize=True))
classify_doc(train_df.iloc[0]['text'], class_word_freq, p_classes , V, return_posteriors=True)

[-191.17102408855166, -191.03073238361236]

'ham'

In [68]:
y_hat_train = x_train.text.map(lambda x: classify_doc(x, class_word_freq, p_classes, V))
residuals = y_train == y_hat_train
residuals.value_counts(normalize=True)

False    0.702929
True     0.297071
dtype: float64

## Level-Up

Rework your code into an appropriate class structure so that you could easily implement the algorithm on any given dataset.

## Summary

Well done! In this lab, you practiced implementing Naive Bayes for document classification!